name: Generate the model file

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
        key: ${{ runner.os }}-cargo-v1
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libmarisa-dev clang libibus-1.0-dev unzip wget
    - uses: dtolnay/rust-toolchain@stable
    - name: Install romkan
      run: |
        git clone https://github.com/akaza-im/akaza.git
        cd akaza
        sudo make install-resources
    - run: cargo install --git https://github.com/akaza-im/akaza.git akaza-data
    - run: make
      env:
        GH_TOKEN: ${{ github.token }}
    - name: evaluate the model
      run: make evaluate
    - name: Create model package
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        mv data akaza-default-model && tar czvf akaza-default-model.tar.gz akaza-default-model/
    - name: Upload artifact
      if: startsWith(github.ref, 'refs/tags/')
      uses: actions/upload-artifact@v4
      with:
        name: akaza-default-model
        path: akaza-default-model.tar.gz

  release:
    needs: [build]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        path: artifacts
    - name: Release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: artifacts/**/*.tar.gz
        generate_release_notes: true
